<div *ngIf="!loading">
  <mat-form-field>
    <input matInput placeholder="Todo title" [(ngModel)]="newTodo.title">
  </mat-form-field>
  <button (click)="add()" mat-raised-button color="primary"><i class="material-icons">add_circle_outline</i>ADD</button>
  <button mat-raised-button color="primary" (click)="edit = true" *ngIf="!edit&&todos.length"><i class="material-icons">mode_edit</i>EDIT
  </button>

  <p *ngFor="let todo of todos">
      <span *ngIf="!edit"><s *ngIf="todo.done">{{todo.title}}</s>
      <span *ngIf="!todo.done">{{todo.title}}</span></span>
    <span *ngIf="edit">
      <mat-form-field>
        <input matInput placeholder="Todo title" [(ngModel)]="todo.title">
      </mat-form-field>
   <mat-checkbox [(ngModel)]="todo.done"></mat-checkbox></span>
  </p>

  <button mat-raised-button color="primary" (click)="update()" *ngIf="edit"><i class="material-icons">save</i>SAVE
  </button>
</div>
<mat-spinner *ngIf="loading"></mat-spinner>
