<!--<h1>Hi</h1>-->
<!--&lt;!&ndash;<input type="text" [(ngModel)]="newItem.title">&ndash;&gt;-->
<!--<mat-form-field>-->
  <!--<input matInput placeholder="Todo title" [(ngModel)]="newItem.title">-->
<!--</mat-form-field>-->
<!--<button (click)="add()" mat-raised-button color="primary">Add</button>-->

<!--<ul>-->
  <!--<li *ngFor="let item of items; let i = index">-->
      <!--<span *ngIf="!item.edit"><s *ngIf="item.done">{{item.title}}</s>-->
      <!--<span *ngIf="!item.done">{{item.title}}</span></span>-->
    <!--<span *ngIf="item.edit">-->
      <!--<mat-form-field>-->
        <!--<input matInput placeholder="Todo title" [(ngModel)]="item.title">-->
      <!--</mat-form-field>-->
   <!--<mat-checkbox [(ngModel)]="item.done"></mat-checkbox></span>-->
    <!--<button mat-mini-fab color="primary" (click)="item.edit = true" *ngIf="!item.edit"><i class="material-icons">mode_edit</i>-->
    <!--</button>-->
    <!--<button mat-mini-fab color="primary" (click)="update(item, i)" *ngIf="item.edit"><i class="material-icons">save</i>-->
    <!--</button>-->
  <!--</li>-->
<!--</ul>-->

