<p>
  Данные были изменены в процессе редактирования
</p>
<button mat-raised-button color="primary" [mat-dialog-close]="'server'">Принять с сервера</button>
<button mat-raised-button color="accent" [mat-dialog-close]="'client'">Сохранить свои изменения</button>
